*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
        --hd-color: #333DFF;
        --tx-color: #FFFFFF;
        --primary-color:#0000;
        --btn-color:  #51CE1B;
        --tx-secondary-color: #1B4509;
        --ph-color: #7A7B9F;
        --call-us-color: #70FF33;
        --tx-call-us-color: #00583C;
        --bg-main: #335EB0;
        --bg-secondary: #003776;
        --placeholder-color: #BDBDBD;
        --field-msg: #323B49;
    
        /*font-size: 62.5%; */
        font-size: clamp(40%, 2vw + 1% , 62.5%);
        
    }

    
/* Garantir que o body e html ocupem 100% da altura da viewport */
    html, body {
        height: 100%;
        font-family: 'Poppins', sans-serif;
        overflow: hidden;
    }

    textarea,
    input{
        font-family: 'Poppins', sans-serif;
     }
    

header{
    display: flex;
    gap: .8rem;
    justify-content: space-between;
    align-items: center;
    padding: .7rem clamp(8%, 1vw + 2%, 6.5rem);
    background: var(--hd-color);
}

.logo p{
    font-family: 'Poppins', sans-serif; 
    font-weight: bold;
    font-size: clamp(40%, 3vw + 8%, 2rem);
    font-style: normal;
    line-height: 4.5rem;

    color: var(--tx-color);
}


.logo span{
    font-size: clamp(40%, 2vw + 14%, 1.6rem);

}

.controls{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.menu{
    display: flex;
    align-items: center;

    gap: 2rem;
}

.avatar img{
    width: 2.7rem;
    height: 2.7rem;
    object-fit: cover;
    border-radius: 999rem;
    border: solid 1px black;
}

.user{
    display: flex;
    align-items: center;
    gap: .8rem;
}
/* Azul */


.user-name p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color:  var(--tx-color);
}

.head-contact button {
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    
    background-color: var(--call-us-color);
    color: var(--tx-call-us-color);
    
    border: none;

    border-radius: 5rem;

    padding: .4rem 1.2rem;

}


.head-contact button:hover{
    background-color: var(--tx-call-us-color);
    color: var(--call-us-color);
    cursor: pointer;

}

.burger{
    display: none;
    background: none;
    border: none;
}

.burger img, 
.service-status img,
.status-menu img,
.tools img,
.record-audio img{
    max-width: clamp(8%, 4vw + 5%, 25px);
    max-height: 25px;
}



.chat-field{
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    background: var(--bg-main);
    z-index: 100;
}

.hidden {
    display: none;
}

main h1{
    font-family: 'Poppins', sans-serif;
    color:  var(--tx-color);
}

main {
    display: grid;
    grid-template-columns: 23% 1fr;
    height: calc(100vh - 5.9rem);


}

.status-bar{
    display: flex;  
    justify-content: space-between;
    
    background: var(--bg-secondary);
    padding: 1.8rem clamp(8%, 1vw + 2%, 6.5rem);
}


.chat-field h1 {
    padding: 1.2rem clamp(8%, 1vw + 2%, 6.5rem) 0;
    
}

.search-conversations{
    display: flex;
    justify-content: space-between;
    padding: 1.2rem clamp(8%, 1vw + 2%, 6.5rem);
    align-items:  center;
    gap: 2rem;
    
}

.search-conversations input{
    border-radius: 99rem;
    border: none;
    padding: .5rem 1.5rem;
    width: 100%;
    flex: 1;
}



.search-conversations input::placeholder{
    color:  var(--placeholder-color);
    font-size: 1.2rem;
}

.chat{
    display: grid;
    overflow: hidden;

    grid-template-rows: 1fr 7%;
    margin-left: -13px;
    /*padding: 3rem;*/
    background-image: url(./assets/BACKGROUND.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0;
    
}

textarea{
    resize: none ; 
    flex: 1;
    height: 3rem;
    padding: .5rem 1rem;
    background: none;
    border: none;
    color: #FFFFFF;
}

.message-write{
    display: flex;
    background: var(--field-msg);

    padding: 1.5rem 3rem;
    gap: 2rem;
}

.mensage-sent{
    overflow-y: auto;
    overflow-x: hidden;
}

.user-mensage{
    width: 10px;
    height: 10px;
}

/*media queres*/

@media (max-width: 1000px) {

    .burger{
        display: block;
    }

    .menu{
        display: none;
        visibility: hidden;
    }



}

